<a href="#" (click)="ArrayList()">ArrayList</a>&nbsp;
<a href="#" (click)="LinkedList()">LinkedList</a>&nbsp;
<a href="#" (click)="HashSet()">HashSet</a>&nbsp;
<a href="#" (click)="TreeSet()">TreeSet</a>&nbsp;
<br>

<p *ngIf="active=='ArrayList'">
  ArrayList<br>
  <li *ngFor="let str of alData"><button (click)="removeArrayListEntry(str);">{{str}}</button></li>
  <br>
  <input #aladd type=text placeholder="add">
  <button (click)="addArrayList(aladd.value);aladd.value=''">Add</button>
</p>

<p *ngIf="active=='LinkedList'">
  LinkedList<br>
  <li *ngFor="let str of llData"><button (click)="removeLinkedListEntry(str);">{{str}}</button></li>
  <br>
  <input #lladd type=text placeholder="add">
  <button (click)="addLinkedList(lladd.value);lladd.value=''">Add</button>
</p>

<p *ngIf="active=='HashSet'">
  HashSet<br>
  <li *ngFor="let str of hsData"><button (click)="removeHashSetEntry(str);">{{str}}</button></li>
  <br>
  <input #hsadd type=text placeholder="add">
  <button (click)="addHashSet(hsadd.value);hsadd.value=''">Add</button>
</p>

<p *ngIf="active=='TreeSet'">
  TreeSet<br>
  <li *ngFor="let str of tsData"><button (click)="removeTreeSetEntry(str);">{{str}}</button></li>
  <br>
  <input #tsadd type=text placeholder="add">
  <button (click)="addTreeSet(tsadd.value);tsadd.value=''">Add</button>
</p>
